#DetailOrder {

    .detailOrder_bg {
        padding: 30px 0;
        background-color: rgba(0, 128, 0, 0.1);

        .detailOrder {
            width: 100%;
            max-width: 1200px;
            margin: 0 auto;

            .category {
                background-color: #fff;
                text-align: center;
                padding: 16px;

                .user {

                    .user_img {
                        width: 50px;
                        height: 50px;
                        display: flex;
                        margin: auto;
                        border-radius: 50%;
                        overflow: hidden;
                        border: 1px solid var(--border-color);
                        cursor: pointer;
                    }

                    .user_name {
                        margin-top: 16px;
                        margin-left: 8px;
                        align-self: flex-start;
                        cursor: pointer;
                        display: block;
                        color: var(--primary-color);
                    }
                }

                .topnav {
                    margin-top: 30px;

                    a {
                        display: block;
                        padding: 8px 16px;
                        border: 1px solid var(--border-color);
                        color: red;
                        text-decoration: none;
                        margin: 8px 0;
                    }
                }
            }

            .component {

                .component_bg {

                    #Account {
                        background-color: #fff;
                        padding: 16px 30px;

                        .account_bg {
                            .account {
                                .form-message {
                                    font-size: 1.2rem;
                                    line-height: 1.6rem;
                                    padding: 4px 0 0;
                                    color: #f33a58;
                                    text-align: left;
                                }

                                h5 {
                                    font-size: var(--title-size);
                                    color: var(--primary-color);
                                    font-weight: 500;
                                    text-transform: capitalize;
                                }

                                p {
                                    color: #666;
                                }

                                .info {
                                    border-top: 1px solid var(--border-color);
                                    padding: 30px 0;

                                    .form {
                                        padding: 0 20px;

                                        .form-group {
                                            margin-bottom: 16px;

                                            label {
                                                margin-bottom: 8px;
                                            }
                                        }

                                        .gender {
                                            label {
                                                display: inline-block;
                                            }

                                            .radio-wrap {
                                                display: inline-block;
                                                margin: 0 8px;

                                                label {
                                                    margin-left: 4px;
                                                }
                                            }
                                        }

                                        .btn-save {
                                            width: 100px;
                                            height: 40px;
                                            background-color: var(--primary-color);
                                            color: #fff;
                                            font-weight: 600;
                                            border: none;
                                            outline: none;
                                            margin: 16px 0 0 20px;
                                        }
                                    }

                                    .image {
                                        border-left: 1px solid var(--border-color);
                                        padding: 0 20px;

                                        .previewImg_wrap {
                                            text-align: center;

                                            .previewImg {
                                                width: 100px;
                                                height: 100px;
                                                display: flex;
                                                margin: auto;
                                                border-radius: 50%;
                                                overflow: hidden;
                                                border: 1px solid var(--border-color);
                                                cursor: pointer;
                                            }

                                            .labelImage.btn {
                                                background-color: var(--primary-color);
                                                color: #fff;
                                                margin-top: 16px;
                                                padding: 4px 8px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    #Orders {
                        .orders_bg {
                            .orders {
                                .categoryStatus {
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-between;
                                    background-color: #fff;

                                    .item {
                                        text-align: center;
                                        padding: 16px 0;
                                        width: 16.6667%;
                                        cursor: pointer;
                                        color: #333;
                                        position: relative;
                                    }

                                    .item.active::before {
                                        content: '';
                                        position: absolute;
                                        display: block;
                                        background-color: var(--primary-color);
                                        width: 100%;
                                        height: 6px;
                                        bottom: 0;
                                    }

                                    .item.active {
                                        color: var(--primary-color);
                                        font-weight: 600;
                                    }

                                }

                                .search_product {
                                    margin: 16px 0;
                                }

                                .info_checkout {
                                    ul {
                                        list-style: none;
                                        padding-left: 0;
                                    }

                                    background-color: #fff;
                                    margin-top: 16px;
                                    padding: 30px 16px;

                                    .checkout_list {

                                        &>li {
                                            border: 1px solid var(--border-color);
                                            border-radius: 10px;
                                            padding: 16px;
                                            margin-bottom: 16px;

                                            .info {
                                                span {
                                                    color: var(--primary-color);
                                                }
                                            }

                                            .product {
                                                border-left: 1px solid var(--border-color);

                                                .product_list {
                                                    li {
                                                        margin-bottom: 8px;
                                                        display: flex;
                                                        justify-content: space-between;

                                                        .image-name {
                                                            display: flex;

                                                            .image-product {
                                                                width: 40px;
                                                                height: 40px;
                                                                border: 1px solid var(--border-color);
                                                            }

                                                            .name-product {
                                                                margin-left: 16px;
                                                                width: 190px;
                                                                color: var(--primary-color);
                                                            }

                                                            .so_luong {
                                                                margin-left: 16px;
                                                                color: orange;
                                                            }

                                                        }

                                                        .price {
                                                            font-weight: 600;
                                                        }
                                                    }
                                                }

                                                .sum_price {
                                                    margin-top: 24px;
                                                    text-align: right;

                                                    span {
                                                        color: var(--primary-color);
                                                        font-weight: 600;
                                                    }
                                                }

                                                .restore-btn,
                                                .cancel-btn {
                                                    border: none;
                                                    outline: none;
                                                    color: #fff;
                                                    padding: 4px 8px;
                                                    margin-top: 16px;
                                                }

                                                .cancel-btn {
                                                    background-color: rgb(241, 67, 67);
                                                }

                                                .restore-btn {
                                                    background-color: var(--primary-color);
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    #Notify {
                        .notify_bg {
                            .notify {}
                        }
                    }
                }
            }
        }
    }
}