@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

.app {
    #header_news {
        .header_news-bg {
            background-color: #fff;

            .header_news {
                max-width: 1200px;
                width: 90%;
                margin: 0 auto;

                .author,
                .home {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }

                .author {
                    padding: 8px 0;
                    border-bottom: 1px solid var(--border-color);

                    .left_content {
                        display: flex;
                        align-items: center;

                        .social_icon {
                            margin-right: 18px;

                            a {
                                text-decoration: none;
                                font-size: 16px;
                                padding: 0 4px;
                                cursor: pointer;
                                color: var(--text-color);

                                i {
                                    position: relative;
                                    top: 2px;
                                }
                            }
                        }
                    }

                    .nav {
                        a {
                            text-decoration: none;
                            font-size: 13px;
                            margin: 0 8px;
                            letter-spacing: 0.5px;
                            font-weight: 600;
                            color: #666;
                            cursor: pointer;
                            transition: 0.3s;

                            &:hover {
                                color: var(--primary-color);
                            }
                        }
                    }
                }

                .home {
                    padding: 16px 0;

                    .logo_wrap {
                        display: flex;
                        align-items: center;

                        .menu {
                            display: none;
                            margin-right: 30px;

                            .menu-icon {
                                font-size: 26px;
                            }
                        }

                        .logo {
                            width: 100px;
                            cursor: pointer;
                        }
                    }


                    .nav_list {
                        .wrap {
                            display: inline-block;

                            span {
                                font-size: 16px;
                                margin: 0 8px;
                                padding: 0 8px;
                                letter-spacing: 0.5px;
                                cursor: pointer;
                                transition: 0.3s;

                                &:hover {
                                    color: var(--primary-color);
                                }
                            }
                        }
                    }

                    .search-box {
                        width: 40px;
                        height: 40px;
                        position: relative;
                        overflow: hidden;
                        transition: all 0.5s ease;
                        border-radius: 4px;

                        &.open {
                            width: 250px;
                        }

                        .search-input {
                            width: 100%;
                            height: 100%;
                            border: 1px solid #ccc;
                            outline: none;
                            border-radius: 4px;
                            padding: 8px 48px 8px 8px;
                        }

                        .search-btn {
                            color: #242628;
                            outline: none;
                            border: none;
                            width: 40px;
                            height: 40px;
                            position: absolute;
                            right: 0;
                            top: 0;
                            cursor: pointer;
                            font-size: 18px;
                        }
                    }



                }

                .nav_list-mobile {
                    background-color: #fff;
                    height: 0;
                    padding-bottom: 0;
                    transition: 0.3s;

                    .wrap {
                        padding: 8px 0;

                        span {
                            font-size: 16px;
                            margin: 0 8px;
                            padding: 0 8px;
                            letter-spacing: 0.5px;
                            cursor: pointer;
                            transition: 0.3s;

                            &:hover {
                                color: var(--primary-color);
                            }
                        }
                    }
                }

                .nav_list-mobile.show {
                    height: auto;
                    padding-bottom: 8px;
                }
            }
        }
    }

    .tag {
        text-decoration: none;
        cursor: pointer;
        border: 1px solid #ccc;

        .dot {
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background-color: #2568ef;
            display: inline-block;
            margin-right: 8px;
            position: relative;
            top: 3px;
        }

        display: inline-block;
        padding: 4px 12px;
        background-color: #fff;
        color: var(--text-color);
        border-radius: 15px;
        font-size: 13px;
        letter-spacing: 1px;
        font-weight: 600;

        &:hover {
            color: var(--primary-color);
        }
    }

    a {
        text-decoration: none;

        .child_title {
            color: var(--text-color);
        }
    }

    #slider_news {
        .slider_news {
            .sliders {
                .slider {
                    background-position: center;
                    background-size: cover;
                    height: 600px;

                    &.one {
                        background-image: url(https://wp.wp-preview.com/inhype/inhype-1/wp-content/uploads/2019/11/inhype1-photos-11.jpg);
                    }

                    &.two {
                        background-image: url(https://wp.wp-preview.com/inhype/inhype-1/wp-content/uploads/2019/12/inhype1-photos-21.jpg);
                    }

                    &.three {
                        background-image: url(https://wp.wp-preview.com/inhype/inhype-1/wp-content/uploads/2019/11/inhype1-photos-17.jpg);
                    }

                    .slider_bg {
                        height: 100%;
                        background-color: rgba(0, 0, 0, 0.4);
                        display: flex;
                        align-items: center;
                        padding: 0 100px;

                        .text {
                            color: #fff;

                            .slider_title {
                                cursor: pointer;
                                margin-top: 24px;
                                margin-bottom: 24px;
                                font-size: 34px;
                                font-weight: 600;
                                line-height: 1.5;
                                color: #fff;
                            }

                            .info_other {
                                color: #fff;
                                font-size: 12px;
                                letter-spacing: 1px;
                                font-weight: 600;

                                a {
                                    color: #666;

                                    &:hover {
                                        color: #2568ef;
                                    }
                                }

                                .dot {
                                    width: 6px;
                                    height: 6px;
                                    display: inline-block;
                                    border: 1px solid #ddd;
                                    background-color: transparent;
                                    border-radius: 50%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    #section_news {
        .section_news {
            .same {
                padding: 40px 0;
                max-width: 1200px;
                width: 90%;
                margin: 0 auto;

                .child,
                .left_child,
                .right_child {
                    .image {
                        background: none;
                    }
                }

                .image {
                    overflow: hidden;
                    border-radius: 10px;
                    background-image: url(https://wp.wp-preview.com/inhype/inhype-1/wp-content/uploads/2019/11/ofhlstldxzk-1140x694.jpg);
                    background-position: left;
                    background-size: cover;
                    height: 450px;
                    margin-bottom: 24px;

                    .image_bg {
                        height: 100%;
                        background-color: rgba(0, 0, 0, 0.4);
                        position: relative;

                        .text {
                            position: absolute;
                            bottom: 30px;
                            padding: 0 40px;
                            color: #fff;

                            .info_other {
                                color: #fff;
                            }
                        }
                    }
                }
            }

            .child_title {
                cursor: pointer;
                line-height: 1.5;
                font-weight: 600;
                margin-top: 16px;
            }

            .info_other {
                margin-top: 16px;
                font-size: 11px;
                font-weight: 600;

                .dot {
                    width: 6px;
                    height: 6px;
                    display: inline-block;
                    border: 1px solid #ddd;
                    background-color: transparent;
                    border-radius: 50%;
                }
            }

            .desc {
                margin-top: 16px;
            }

            .section_title {
                font-size: 28px;
                font-weight: 600;
            }

            .section_title~p {
                font-size: 11px;
            }

            .child_title:hover {
                color: var(--primary-color);
            }

            .list_top-title_bg {
                background-color: #fff;

                .list_top-title {
                    .child {
                        .child_title {
                            font-size: 18px;
                        }

                        .info_other {
                            color: #999;
                        }
                    }
                }
            }

            .resent_bg {
                background-color: #fff;

                .resent {
                    .row {
                        --bs-gutter-x: 3.5rem;

                        .image {
                            .image_bg {
                                .text {
                                    .child_title {
                                        font-size: 22px;
                                    }
                                }
                            }
                        }

                        .recent-list {
                            .recent_title {
                                font-size: 28px;
                                font-weight: 600;
                                padding-bottom: 16px;
                                border-bottom: 1px solid #ccc;
                            }

                            .list {
                                list-style: none;
                                padding-left: 0;

                                li {
                                    .child_title {
                                        font-size: 18px;
                                    }

                                    .info_other {
                                        color: #999;
                                    }
                                }
                            }
                        }
                    }

                }
            }

            .technology_bg {
                background-color: #fff;

                .technology {
                    .row.technology_list {
                        --bs-gutter-x: 1.5rem;
                        margin-top: 30px;

                        .child {
                            .image {
                                overflow: hidden;
                                border-radius: 5px;
                                height: 250px;
                                border: 1px solid red;
                            }

                            .text {
                                margin-top: 24px;
                                color: #333;

                                .child_title {
                                    font-size: 20px;
                                }

                                .info_other {
                                    color: #999;
                                }

                                .desc {
                                    color: #666;
                                }
                            }
                        }
                    }
                }
            }

            .today_highlights_bg {
                background-color: #f5f5f5;

                .today_highlights {
                    .row.today_highlights_list {
                        // --bs-gutter-x: 1.5rem;
                        margin-top: 30px;

                        .child {
                            padding: 8px;

                            .image {
                                overflow: hidden;
                                border-radius: 5px;
                                height: 200px;
                                border: 1px solid red;
                            }

                            .text {
                                margin-top: 24px;
                                color: #333;

                                .child_title {
                                    font-size: 20px;
                                }

                                .info_other {
                                    color: #999;
                                }
                            }
                        }
                    }
                }
            }

            .art_culture_bg {
                background-color: #fff;

                .art_culture {

                    .row.art_culture_list {
                        margin-top: 30px;
                        --bs-gutter-x: 3.5rem;

                        .image {
                            .image_bg {
                                .text {
                                    .child_title {
                                        font-size: 28px;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .selected_bg {
                background-color: #fff;

                .selected {
                    .row.selected_list {
                        margin-top: 30px;
                        --bs-gutter-x: 4.5rem;

                        .left_child {
                            .image {
                                overflow: hidden;
                                border-radius: 5px;
                                height: 500px;
                                border: 1px solid red;
                            }

                            .text {
                                margin-top: 24px;
                                color: #333;

                                .child_title {
                                    font-size: 30px;
                                }

                                .info_other {
                                    color: #999;
                                }
                            }
                        }

                        .right_child {
                            margin-bottom: 24px;

                            .image {
                                overflow: hidden;
                                border-radius: 5px;
                                height: 150px;
                                border: 1px solid red;
                            }

                            .text {
                                margin-top: 24px;
                                color: #333;

                                .child_title {
                                    font-size: 16px;
                                }
                            }
                        }
                    }
                }
            }

            .travel_bg {
                background-color: #fff;

                .travel {
                    border-top: 1px solid #ccc;

                    .row.travel_list {
                        margin-top: 30px;
                        --bs-gutter-x: 1.5rem;

                        .image {
                            margin: 16px 0;
                            height: 400px;

                            .image_bg {

                                .text {

                                    .child_title {
                                        font-size: 22px;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .enough_talk_bg {
                background-color: #fff;

                .enough_talk {
                    text-align: center;

                    .enough_title {
                        font-size: 28px;
                        font-weight: 600;
                        margin-bottom: 20px;
                    }

                    p {
                        font-size: 14px;
                        letter-spacing: 1px;
                        margin-bottom: 30px;
                    }

                    button {
                        padding: 10px 24px;
                        font-weight: 600;
                        border: none;
                        outline: none;
                        color: #fff;
                        background-color: #2568ef;
                        border-radius: 4px;
                    }

                    .image {
                        margin-top: 60px;
                        border-radius: 10px;
                        background-image: url(https://wp.wp-preview.com/inhype/inhype-1/wp-content/uploads/2019/11/inhype1-photos-13.jpg);
                        background-position: center center;
                        background-size: cover;
                        height: auto;

                        .image_bg {
                            padding: 0;
                            color: #fff;
                            background: none;

                            .text {
                                padding: 60px 40px;
                                position: initial;

                                h5 {
                                    font-size: 30px;
                                    font-weight: 600;
                                }

                                .email_input {
                                    input {
                                        padding: 9px 16px;
                                        border-radius: 4px;
                                        outline: none;
                                        border: none;
                                        max-width: 300px;
                                        width: 90%;
                                        margin: 0 auto;
                                        margin-top: 24px;
                                    }

                                    button {
                                        margin-top: 24px;
                                        margin-left: 8px;
                                    }
                                }

                                p {
                                    margin-top: 24px;
                                }
                            }

                        }
                    }
                }
            }

            .categories_bg {
                background-color: #fff;

                .categories {

                    .row.categories_list {
                        margin-top: 30px;
                        --bs-gutter-x: 2rem;

                        .image {
                            border-radius: 5px;
                            background-image: url(https://wp.wp-preview.com/inhype/inhype-1/wp-content/uploads/2019/11/inhype1-photos-2.jpg);
                            background-position: center center;
                            background-size: cover;
                            height: auto;
                            overflow: hidden;

                            .image_bg {
                                position: initial;
                                height: 100%;
                                background-color: rgba(0, 0, 0, 0.4);
                                display: flex;
                                flex-direction: column;
                                justify-content: space-between;
                                padding: 40px 30px;

                                .text {
                                    position: initial;
                                    padding: 0;

                                    p {
                                        color: #ccc;
                                        font-weight: 600;
                                    }
                                }

                                .view-post {
                                    margin-top: 100px;
                                    display: inline-block;
                                    width: 120px;
                                    text-align: center;
                                    padding: 8px 16px;
                                    color: #333;
                                    text-decoration: none;
                                    border-radius: 4px;
                                    background-color: #fff;
                                    transition: 0.3s;

                                    &:hover {
                                        color: var(--primary-color);
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .more-from_bg {
                background-color: #13181c;

                .more-from {
                    padding: 60px 0;

                    .child {
                        padding: 0 16px;

                        .row {
                            --bs-gutter-x: 3.5rem;

                            .section_title {
                                color: #fff;
                            }

                            .section_title~p {
                                color: #fff;
                            }

                            .text {
                                margin-top: 60px;

                                h3 {
                                    margin-bottom: 0;
                                }

                                .child_title {
                                    color: #fff;
                                    font-size: 22px;
                                }

                                .info_other {
                                    color: #fff;
                                }
                            }

                            .image {
                                border-radius: 10px;
                                overflow: hidden;

                                img {
                                    object-fit: cover;
                                }
                            }

                        }
                    }
                }
            }

            .video_bg {
                background-color: #fff;

                .video {
                    .row.video_list {
                        --bs-gutter-x: 0rem;
                        margin-top: 30px;

                        .left_child {
                            .image {
                                border-radius: 0;
                                border-top-left-radius: 6px;
                                border-bottom-left-radius: 6px;
                                background-image: url(https://wp.wp-preview.com/inhype/inhype-1/wp-content/uploads/2019/11/ofhlstldxzk-1140x694.jpg);
                                background-position: left;
                                background-size: cover;
                                height: 520px;
                                overflow: hidden;

                                .image_bg {

                                    .text {
                                        .child_title {
                                            font-size: 26px;
                                        }

                                    }
                                }
                            }
                        }

                        .right_child {
                            .image {
                                border-radius: 0;
                                margin-bottom: 0;
                                background-position: left;
                                background-size: cover;
                                height: 260px;
                                overflow: hidden;

                                &.one {
                                    border-top-right-radius: 6px;
                                    background-image: url(https://wp.wp-preview.com/inhype/inhype-1/wp-content/uploads/2019/11/ofhlstldxzk-1140x694.jpg);
                                }

                                &.two {
                                    border-bottom-right-radius: 6px;
                                    background-image: url(https://wp.wp-preview.com/inhype/inhype-1/wp-content/uploads/2019/11/ofhlstldxzk-1140x694.jpg);
                                }

                                .image_bg {

                                    .text {
                                        .child_title {
                                            font-size: 18px;
                                        }

                                    }
                                }
                            }
                        }

                    }
                }
            }

            .selected_posts_bg {
                background-color: #fff;

                .selected_posts {
                    .row.selected_posts_list {
                        margin-top: 30px;
                        --bs-gutter-x: 2rem;


                        .row1 {
                            text-align: center;

                            .text {
                                color: #333;

                                .child_title {
                                    font-size: 27px;
                                }

                                .info_other {
                                    color: #999;
                                }

                                .desc {
                                    color: #666;
                                    letter-spacing: 0.5px;
                                }
                            }
                        }

                        .row2 {
                            .child {
                                .image {
                                    overflow: hidden;
                                    border-radius: 5px;
                                    height: 150px;
                                    border: 1px solid red;
                                }

                                .text {
                                    margin-top: 24px;
                                    color: #333;

                                    .child_title {
                                        font-size: 16px;
                                    }
                                }
                            }
                        }

                        .child {
                            margin-bottom: 24px;

                            .child_title {
                                font-size: 18px;
                            }

                            .info_other {
                                color: #999;
                            }
                        }

                        .row3 {
                            text-align: center;

                            .image {
                                overflow: hidden;
                                border-radius: 5px;
                                height: 350px;
                                border: 1px solid red;
                            }

                            .text {
                                margin-top: 24px;
                                color: #333;

                                .child_title {
                                    font-size: 26px;
                                }

                                .info_other {
                                    color: #999;
                                }

                                .desc {
                                    color: #666;
                                }
                            }
                        }
                    }
                }
            }

            .what_trending_bg {
                background-color: #fff;

                .what_trending {
                    .row.what_trending_list {
                        // --bs-gutter-x: 1.5rem;
                        margin-top: 30px;

                        .child {
                            padding: 8px;

                            .image {
                                overflow: hidden;
                                border-radius: 5px;
                                height: 200px;
                                border: 1px solid red;
                            }

                            .text {
                                margin-top: 24px;
                                color: #333;

                                .child_title {
                                    font-size: 20px;
                                }

                                .info_other {
                                    color: #999;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    #footer_news {
        .footer_news-bg {
            background-color: #13181c;
            color: #fff;

            .footer_news {
                max-width: 1200px;
                width: 95%;
                margin: 0 auto;

                .footer_content {
                    padding: 80px 0;
                    border-bottom: 1px solid #333;

                    h4 {
                        font-size: 18px;
                        margin-bottom: 30px;
                    }

                    .about {

                        p {
                            margin-bottom: 30px;
                        }

                        button {
                            padding: 8px 16px;
                            border: none;
                            outline: none;
                            color: #fff;
                            background-color: #2568ef;
                            border-radius: 4px;
                        }
                    }

                    .howitwork,
                    .navigation {
                        ul {
                            list-style: none;
                            padding-left: 0;

                            li {
                                a {
                                    color: rgba(255, 255, 254, 0.5);
                                    padding: 6px 0;
                                    display: block;
                                    text-decoration: none;
                                }

                            }
                        }
                    }

                    .subscribe {
                        .subscr-box {
                            padding: 30px;
                            background-color: rgba(255, 255, 255, 0.1);
                            border-radius: 4px;

                            p {
                                margin-bottom: 20px;
                            }

                            input {
                                padding: 8px;
                                border-radius: 4px;
                                width: 100%;
                                border: none;
                                outline: none;
                            }

                            button {
                                padding: 8px 16px;
                                border: none;
                                outline: none;
                                color: #fff;
                                background-color: #2568ef;
                                border-radius: 4px;
                            }
                        }
                    }
                }

                .footer_copyright {
                    padding: 30px 0;

                    .copyright {
                        margin-bottom: 0;
                        color: rgba(255, 255, 254, 0.5);

                        a {
                            color: #fff;
                            text-decoration: none;
                        }
                    }

                    .social_icon {
                        text-align: right;

                        a {
                            text-decoration: none;
                            color: #fff;
                            font-size: 22px;
                            padding: 0 4px;
                            cursor: pointer;

                        }
                    }
                }
            }
        }
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .app {
        #slider_news {
            .slider_news {
                .sliders {
                    .slider {
                        .slider_bg {
                            padding: 0 30px;
                        }

                    }

                }

            }

        }

        #section_news {
            .section_news {
                .same {
                    &.more-from {
                        .child {
                            .row {
                                .image {
                                    margin-top: 30px;
                                    height: 250px;
                                }

                            }

                        }

                    }

                    &.video {
                        .row.video_list {
                            .left_child {
                                .image {
                                    border-radius: 10px;

                                    .image_bg {
                                        .text {
                                            .child_title {
                                                font-size: 18px;
                                            }
                                        }
                                    }
                                }
                            }

                            .right_child {
                                .image {
                                    margin-bottom: 24px;
                                    border-radius: 10px !important;
                                }
                            }
                        }
                    }

                    .child {
                        margin-top: 16px;
                    }

                    .row.selected_list {

                        .left_child,
                        .right_child {
                            .image {
                                height: 250px !important;
                            }

                        }

                        .right_child {
                            margin-top: 30px;
                        }

                    }

                    &.selected_posts {
                        .row.selected_posts_list {
                            .row2 {
                                .child {
                                    .image {
                                        height: 300px;
                                    }
                                }
                            }

                            .child {
                                margin-top: 30px;
                            }

                            .row3 {
                                .image {
                                    margin-top: 30px;
                                    height: 400px;
                                }
                            }
                        }

                    }
                }

            }

        }

    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 767px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {}

/* All devices */
@media only screen and (min-width: 0px) and (max-width: 991px) {
    .app {
        #header_news {
            .header_news-bg {
                .header_news {
                    .author {
                        display: none;
                    }

                    .home {
                        .logo_wrap {
                            .menu {
                                display: block;
                            }
                        }

                        .nav_list {
                            display: none;
                        }

                    }

                }

            }

        }

        #footer_news {
            .footer_news-bg {
                .footer_news {
                    .footer_content {
                        &>div {
                            margin-top: 16px;
                        }

                        .subscribe {
                            .subscr-box {
                                text-align: center;
                            }

                        }
                    }

                }

            }

        }
    }
}

/* All small and medium devices */
@media only screen and (min-width: 600px) and (max-width: 991px) {
    .app {
        #slider_news {
            .slider_news {
                .sliders {
                    .slider {
                        .slider_bg {
                            padding: 0 60px;
                        }

                    }

                }

            }

        }

        #section_news {
            .section_news {
                .same {
                    &.more-from {
                        .child {
                            .row {
                                .image {
                                    margin-top: 30px;
                                }

                            }

                        }

                    }

                    &.video {
                        .row.video_list {
                            .left_child {
                                .image {
                                    height: 450px;
                                    border-radius: 10px;

                                    .image_bg {
                                        .text {
                                            .child_title {
                                                font-size: 18px;
                                            }
                                        }
                                    }
                                }
                            }

                            .right_child {
                                .image {
                                    margin-bottom: 24px;
                                    border-radius: 10px !important;
                                }
                            }
                        }
                    }

                    .child {
                        margin-top: 16px;
                    }

                    .row.selected_list {

                        .left_child,
                        .right_child {
                            .image {
                                height: 500px !important;
                            }

                        }

                        .right_child {
                            margin-top: 30px;
                        }

                    }

                    &.selected_posts {
                        .row.selected_posts_list {
                            .row2 {
                                .child {
                                    .image {
                                        height: 450px;
                                    }
                                }
                            }

                            .child {
                                margin-top: 30px;
                            }

                            .row3 {
                                .image {
                                    margin-top: 30px;
                                    height: 600px;
                                }
                            }
                        }

                    }
                }

            }

        }

    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}