.overplay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;

    &.active {
        opacity: 1;
        visibility: visible;
    }
}


#Header {
    .header_bg {
        width: 100%;
        background-color: var(--primary-color);
        color: var(--color-with-primary-bg);

        .header_author,
        .header_home {
            max-width: 1200px;
            width: 95%;
            margin: 0 auto;
            padding: 8px 0;
            display: flex;
            align-items: center;
        }

        .header_author {
            justify-content: space-between;

            li:not(.user_not-login):hover {
                opacity: 0.85;
                cursor: pointer;
            }

            li {
                i {
                    margin-right: 4px;
                    position: relative;
                    top: 2px;
                }
            }

            .left-content {
                .nav {
                    padding-left: 0;

                    li {
                        padding: 0 8px;
                        border-right: 1px solid var(--border-color);
                    }

                    li:last-child {
                        border-right: none;
                    }

                }
            }

            .right-content {
                li:not(.user_not-login) {
                    margin: 0 8px;
                }

                .languages {
                    margin-right: 16px;

                    span {
                        margin: 0 4px;
                        padding: 0 4px;
                        cursor: pointer;
                        font-size: 16px;
                        font-weight: 600;
                        color: #fff;
                        opacity: 1;
                    }

                    span.active {
                        color: red;
                    }

                    span:not(.active):hover {
                        opacity: 0.5;
                    }
                }

                .user_not-login {
                    margin-left: 24px;

                    span {
                        padding: 0 8px;
                        border-right: 1px solid var(--border-color);
                    }

                    span:last-child {
                        border-right: none;
                    }

                    span:hover {
                        opacity: 0.85;
                        cursor: pointer;
                    }
                }

                .user_login {
                    display: flex;
                    position: relative;

                    &:hover {
                        opacity: 1;
                        cursor: default;
                    }

                    &:hover .user_box {
                        opacity: 1;
                        visibility: visible;
                    }

                    .wrap {
                        display: flex;
                        align-items: center;

                        .user_img {
                            width: 30px;
                            height: 30px;
                            display: inline-block;
                            border-radius: 50%;
                            overflow: hidden;
                            border: 1px solid var(--border-color);
                            cursor: pointer;

                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                object-position: center;
                            }
                        }

                        .user_name {
                            margin-left: 8px;
                            align-self: flex-start;
                            cursor: pointer;
                            display: inline-block;

                            &:hover {
                                opacity: 0.85;
                            }
                        }
                    }

                    .user_box {
                        position: absolute;
                        width: 150px;
                        top: 30px;
                        right: 0px;
                        list-style: none;
                        padding-left: 0;
                        background-color: #fff;
                        z-index: 100;
                        opacity: 0;
                        visibility: hidden;
                        transition: 0.3s;

                        li {
                            color: var(--text-color);
                            font-weight: 600;
                            cursor: pointer;
                            border-bottom: 1px solid var(--border-color);

                            a {
                                text-decoration: none;
                                color: var(--text-color);
                                display: block;
                                padding: 8px;
                            }
                        }

                        li:hover,
                        li:hover a {
                            color: var(--primary-color);
                        }

                        li:last-child {
                            border-bottom: none;
                        }
                    }

                    .wrap::before {
                        content: '';
                        display: block;
                        position: absolute;
                        top: 10px;
                        right: 30px;
                        width: 150px;
                        height: 20px;
                    }
                }
            }
        }

        .header_home {
            justify-content: space-between;

            span {
                i {
                    margin-right: 4px;
                }
            }

            .menu {
                display: none;

                .icon-menu {
                    font-size: 30px;
                }

                .menu_aside {
                    position: fixed;
                    top: 0;
                    left: 0;
                    transform: translateX(-100%);
                    opacity: 0;
                    transition: 0.3s;
                    width: 300px;
                    height: 100vh;
                    background-color: var(--primary-color);
                    z-index: 101;
                    color: #fff;

                    &.active {
                        opacity: 1;
                        transform: translateX(0);
                    }

                    .close_icon {
                        font-size: 30px;
                        position: absolute;
                        top: 15px;
                        right: 20px;
                    }

                    .logo {
                        margin: 16px;
                        width: 100px;
                        cursor: pointer;
                    }

                    ul {
                        list-style: none;
                        padding-left: 0;
                    }

                    text-align: center;

                    .top_content {
                        margin-top: 30px;
                        margin-bottom: 60px;

                        .user_not-login {
                            span {
                                display: block;
                                padding: 6px;
                                background-color: #fff;
                                color: var(--primary-color);
                                width: 90%;
                                max-width: 250px;
                                margin: 0 auto;
                                font-size: 20px;
                                margin-bottom: 16px;
                                border-radius: 4px;

                                &:hover {
                                    background-color: var(--primary-color);
                                    color: #fff;
                                    border: 1px solid #fff;
                                }
                            }
                        }

                        .user_login {
                            .wrap {
                                width: 100%;

                                .user_img {
                                    margin: 0 auto;
                                    width: 50px;
                                    height: 50px;
                                    display: block;
                                    border-radius: 50%;
                                    overflow: hidden;
                                    border: 1px solid var(--border-color);
                                    cursor: pointer;

                                    img {
                                        width: 100%;
                                        height: 100%;
                                        object-fit: cover;
                                        object-position: center;
                                    }
                                }

                                .user_name {
                                    margin-top: 16px;
                                    cursor: pointer;
                                    display: block;

                                    &:hover {
                                        opacity: 0.85;
                                    }
                                }
                            }

                            .user_box {
                                width: 150px;
                                margin: 20px auto 0;
                                list-style: none;
                                padding-left: 0;
                                transition: 0.3s;

                                li {
                                    font-weight: 600;
                                    cursor: pointer;
                                    margin-bottom: 8px;

                                    a {
                                        background-color: #fff;
                                        border-radius: 4px;
                                        color: var(--primary-color);
                                        text-decoration: none;
                                        display: block;
                                        padding: 8px;
                                    }
                                }

                                li:hover,
                                li:hover a {
                                    color: var(--primary-color);
                                }

                                li:last-child {
                                    border-bottom: none;
                                }
                            }
                        }

                        .contact {
                            padding: 4px;
                            font-size: 20px;
                            color: orangered;
                            width: 90%;
                            max-width: 150px;
                            margin: 30px auto 0;
                            background-color: #fff;
                            border-radius: 4px;
                        }

                        .languages {
                            margin-top: 20px;

                            span {
                                margin: 0 4px;
                                padding: 0 4px;
                                cursor: pointer;
                                font-size: 20px;
                                font-weight: 600;
                                color: #fff;
                                opacity: 1;
                            }

                            span.active {
                                color: red;
                            }

                            span:not(.active):hover {
                                opacity: 0.5;
                            }
                        }

                        .find_address {
                            margin-top: 20px;
                        }
                    }

                    .bottom_content {
                        li {
                            font-size: 20px;
                            margin-bottom: 16px;
                        }
                    }
                }
            }

            .logo {
                width: 100px;
                cursor: pointer;
            }

            .search {
                flex: 0.8;
                position: relative;

                &.active {
                    z-index: 100;
                }

                .search_wrap {
                    border-radius: 4px;
                    overflow: hidden;
                    position: relative;

                    input {
                        width: 100%;
                        border: none;
                        outline: none;
                        padding: 8px 60px 8px 16px;
                        color: var(--text-color);
                    }

                    i {
                        position: absolute;
                        color: var(--primary-color);
                        font-size: 22px;
                        top: 0;
                        right: 12px;
                        padding: 8px;
                        cursor: pointer;
                    }
                }

                &.active .list_wrap {
                    opacity: 1;
                    visibility: visible;
                }

                .list_wrap {
                    height: 250px;
                    width: 100%;
                    overflow: hidden;
                    position: absolute;
                    z-index: 100;
                    top: 45px;
                    border-radius: 4px;
                    background-color: #fff;
                    border: 1px solid #ccc;
                    opacity: 0;
                    visibility: hidden;
                    transition: 0.3s;

                    .close_btn {
                        display: none;
                        position: absolute;
                        bottom: 75px;
                        left: 50%;
                        transform: translateX(-50%);
                        padding: 8px;

                        button {
                            outline: none;
                            border: none;
                            width: 50px;
                            height: 50px;
                            border-radius: 50%;
                            margin: 0 auto;
                            background-color: var(--primary-color);
                            color: #fff;
                        }
                    }

                    .listProduct-search {
                        width: 100%;
                        padding-left: 0;
                        list-style: none;
                        margin-bottom: 0;

                        li {
                            cursor: pointer;
                            padding: 16px;
                            color: #333;
                            display: flex;
                            justify-content: space-between;
                            background-color: #fff;
                            transition: 0.3s;

                            &:hover {
                                background-color: rgba(0, 128, 0, 0.2);
                            }

                            .image-name {
                                display: flex;

                                .image-product {
                                    width: 50px;
                                    margin-right: 16px;
                                }

                                .name-product {
                                    color: var(--primary-color);
                                    width: 300px;
                                }
                            }
                        }
                    }
                }

            }

            .news,
            .cart {

                .news_icon,
                .cart_icon {
                    cursor: pointer;
                    border: 1px solid var(--border-color);
                    border-radius: 5px;
                    padding: 8px 16px;
                }
            }

            .news {
                .news_icon {
                    text-decoration: none;
                    display: block;
                    color: #fff;

                    i {
                        margin-right: 4px;
                    }
                }

                .news_icon-mobile {
                    display: none;
                    font-size: 25px;
                    color: #fff;
                }
            }

            .cart {

                .cart_wrap {
                    position: relative;

                    .cart_icon {
                        i {
                            font-size: 20px;
                            position: relative;
                            top: 2px;
                        }

                        .amount {
                            margin-left: 8px;
                            border-radius: 50%;
                            background-color: orange;
                            width: 20px;
                            height: 20px;
                            font-size: 14px;
                            font-weight: 600;
                            text-align: center;
                            display: inline-block;
                        }

                    }

                    .cart_icon-mobile::before,
                    .cart_icon::before {
                        position: absolute;
                        left: 0;
                        top: 30px;
                        width: 100%;
                        height: 20px;
                        display: block;
                        content: "";
                    }

                    .cart_icon-mobile {
                        display: none;

                        i {
                            font-size: 25px;
                        }

                        .amount {
                            border-radius: 50%;
                            background-color: orange;
                            width: 20px;
                            height: 20px;
                            font-size: 14px;
                            font-weight: 600;
                            text-align: center;
                            display: none;
                            position: relative;
                            top: -15px;
                            left: -10px;
                        }
                    }

                    .cart_info {
                        transition: 0.3s;
                        visibility: hidden;
                        opacity: 0;
                        position: absolute;
                        z-index: 100;
                        width: 400px;
                        background-color: #fff;
                        border: 1px solid var(--border-color);
                        border-radius: 5px;
                        right: 0;
                        top: 40px;

                        &.active {
                            visibility: visible;
                            opacity: 1;
                        }

                        .cart_not-product {
                            display: flex;
                            flex-direction: column;
                            padding: 16px;

                            .cart_not-product-img {
                                width: 100px;
                                margin: auto;
                            }

                            span {
                                color: var(--text-color);
                                margin: 16px auto;
                            }

                        }

                        .cart_have-product {
                            h5 {
                                color: #333;
                                font-size: 18px;
                                padding: 8px 16px;
                                border-bottom: 1px solid var(--border-color);
                                margin-bottom: 0;
                            }

                            .product_list {
                                padding-left: 0;

                                .product_list-item {
                                    display: flex;
                                    padding: 8px 16px;
                                    cursor: pointer;

                                    &.product_list-item:hover {
                                        background-color: #eee;
                                    }

                                    &.product_list-item:nth-child(2n) {
                                        background-color: #f7f7f7;
                                    }

                                    .product_img {
                                        width: 80px;
                                        height: 80px;
                                        margin-right: 16px;
                                        border: 1px solid red;
                                    }

                                    .product_info {
                                        color: var(--text-color);
                                        flex: 1;

                                        .product_title {
                                            color: var(--primary-color);
                                        }

                                        .product_price {
                                            display: flex;
                                            justify-content: space-between;
                                            margin-top: 16px;

                                            .old_price {
                                                text-decoration: line-through;
                                            }

                                            .wrap {
                                                .so_luong {
                                                    margin-right: 8px;
                                                    color: orange;
                                                    font-weight: 600;
                                                }

                                                .new_price {
                                                    margin-left: 6px;
                                                    font-weight: 600;
                                                    color: var(--primary-color);
                                                }
                                            }
                                        }
                                    }
                                }

                            }

                            .btn-view_cart,
                            .btn-checkout {
                                width: 70%;
                                display: flex;
                                justify-content: center;
                                margin: 16px auto;
                                padding: 8px;
                                height: auto;
                                font-size: var(--text-size);
                                color: #fff;
                                font-weight: 600;
                            }

                            .btn-view_cart {
                                background-color: orange;
                            }

                            .btn-checkout {
                                background-color: var(--primary-color);
                            }

                            .track-vertical {
                                visibility: hidden !important;
                            }

                            .track-horizontal {
                                visibility: hidden !important;
                            }
                        }
                    }
                }

                .cart_wrap:hover {
                    .cart_info {
                        visibility: visible;
                        opacity: 1;

                        .cart_have-product {
                            .track-vertical {
                                visibility: visible !important;
                            }
                        }
                    }
                }

            }
        }
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #Header {
        .header_bg {
            .header_author {
                display: none;
            }

            .header_home {
                .menu {
                    display: block;

                    .logo {
                        display: block;
                    }
                }

                .search {
                    .list_wrap {
                        position: fixed;
                        height: 100%;
                        width: 100%;
                        right: 0;
                        left: 0;
                        top: 58px;

                        .close_btn {
                            display: block;
                        }

                        .listProduct-search {
                            li {
                                display: block;
                                border-bottom: 1px solid #ddd;

                                .price {
                                    margin-top: 16px;
                                }
                            }

                        }
                    }

                }

                .logo {
                    display: none;
                }

                .news {
                    .news_icon-mobile {
                        display: block;
                    }

                    .news_icon {
                        display: none;
                    }
                }

                .cart {
                    .cart_wrap {
                        .cart_icon-mobile {
                            display: block;

                            .amount {
                                display: inline-block;
                            }
                        }

                        .cart_icon {
                            display: none;
                        }

                        .cart_info {
                            position: fixed;
                            width: 100%;
                            left: 0;
                            top: 60px;

                            .cart_have-product {
                                .product_list {
                                    .product_list-item {
                                        .product_info {
                                            .product_price {
                                                flex-direction: column;
                                            }

                                        }

                                    }

                                }


                            }
                        }
                    }
                }
            }
        }
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 767px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {}

/* All small and medium devices */
@media only screen and (min-width: 600px) and (max-width: 991px) {
    #Header {
        .header_bg {
            .header_author {
                display: none;
            }

            .header_home {
                .menu {
                    display: block;
                }

                .search {
                    .list_wrap {
                        width: 650px;
                        right: -115px;
                    }

                }

                .news {
                    .news_icon-mobile {
                        display: block;
                    }

                    .news_icon {
                        display: none;
                    }
                }

                .cart {
                    .cart_wrap {
                        .cart_icon-mobile {
                            display: block;

                            .amount {
                                display: inline-block;
                            }
                        }

                        .cart_icon {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #Header {
        .header_bg {
            .header_home {}
        }
    }
}