.login_background {
    height: 100vh;
    background: linear-gradient(135deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);

    padding: 50px 0 0;

    .login_container {
        max-width: 400px;
        width: 90%;
        height: auto;
        background-color: #fff;
        margin: 0 auto;
        border-radius: 25px;
        padding: 30px 40px;

        .login_content {
            h1 {
                text-align: center;
                font-size: 30px;
                font-weight: 600;
            }

            .form-login {
                margin-top: 25px;

                .form-group {
                    margin-bottom: 30px;

                    label {
                        margin-left: 25px;
                        margin-bottom: 10px;
                        font-size: 14px;
                        color: rgba(187, 187, 187, 0.9);
                    }

                    .form-control {
                        width: 100%;
                        border: none;
                        padding: 8px 16px 16px;
                        font-size: 18px;
                        box-shadow: inset 0px -3px 0px 0px rgba(187, 187, 187, 0.2);
                        transition: box-shadow 0.2s ease-in;
                    }

                    .form-control:focus {
                        box-shadow: inset 0px -3px 0px 0px rgba(34, 193, 195, 0.7);
                        outline: none;
                    }

                    .form-control::placeholder {
                        opacity: 1;
                        transition: 0.3s;
                    }

                    .form-control:hover::placeholder {
                        opacity: 0.5;
                    }

                    .form-control:focus::placeholder {
                        opacity: 0;
                    }

                    .password-wrap {
                        position: relative;

                        .icon-show {
                            position: absolute;
                            right: 16px;
                            bottom: 10px;
                            font-size: 20px;
                            cursor: pointer;
                        }
                    }
                }

                .err-message {
                    color: red;
                    font-size: 16px;
                    text-align: center;
                    margin-bottom: 16px;
                }

                .btn-login {
                    width: 100%;
                    text-align: center;

                    button {
                        border-radius: 25px;
                        border: none;
                        outline: none;
                        width: 80%;
                        height: 40px;
                        color: #fff;
                        font-size: 20px;
                        font-weight: 600;
                        opacity: 1;
                        transition: 0.3s;
                        background: linear-gradient(90deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
                    }

                    button:hover {
                        opacity: 0.8;
                    }
                }
            }

            .form-forgot-password {
                display: flex;

                a {
                    margin: 20px auto;
                    color: #f55;
                    cursor: pointer;
                    font-size: 16px;
                }
            }

            .form-sign-width {
                text-align: center;

                p {
                    font-size: 16px;
                    letter-spacing: 1;
                }

                .social-media {
                    a {
                        display: inline-block;
                        border-radius: 50%;
                        width: 45px;
                        height: 45px;
                        line-height: 50px;
                        margin: 8px;
                        color: #fff;
                        font-size: 22px;
                    }

                    .facebook {
                        background-color: #3b5998;
                    }

                    .twitter {
                        background-color: #55acee;
                    }

                    .google {
                        background-color: #dc4e41;
                    }
                }
            }
        }
    }
}