#Bicycle,
#Accessories {
    .bicycle_bg {
        padding: 30px 0;

        .bicycle {
            width: 95%;
            max-width: 1200px;
            margin: 0 auto;

            .link {
                padding: 0 0 20px;

                span {
                    font-size: var(--title-size);
                    font-style: italic;
                    margin: 0 4px;
                    cursor: pointer;
                }

                span.bicycle-link {
                    color: var(--primary-color);
                }
            }

            .bicycle_filter {
                width: 1000px;

                .item {
                    display: inline-block;
                    margin: 8px;
                    position: relative;

                    .filter_label {
                        border: 1px solid var(--primary-color);
                        border-radius: 4px;
                        padding: 4px 8px;
                        cursor: pointer;
                        display: block;

                        .icon-arrow {
                            font-size: 10px;
                            position: relative;
                            top: 0px;
                            margin-left: 8px;
                        }
                    }

                    .filter_label.active~.filter_box {
                        opacity: 1;
                        visibility: visible;
                    }

                    .filter_box {
                        position: absolute;
                        top: 40px;
                        z-index: 100;
                        width: 400px;
                        background-color: #fff;
                        box-shadow: 0 2px 20px rgba(0, 0, 0, 0.5);
                        opacity: 0;
                        visibility: hidden;
                        transition: 0.3s;

                        .filter_box-wrap {
                            padding: 8px 24px 8px 8px;
                            position: relative;

                            .filter_label-child {
                                display: inline-block;
                                margin: 8px;
                                border: 1px solid var(--primary-color);
                                border-radius: 4px;
                                padding: 4px 8px;
                                cursor: pointer;
                                background-color: #fff;
                                color: #333;
                                transition: 0.3s;
                            }

                            .filter_label-child.active {
                                background-color: var(--primary-color);
                                color: #fff;
                            }

                            .icon-close {
                                position: absolute;
                                right: 10px;
                                top: 10px;
                                font-size: 24px;
                                cursor: pointer;
                            }
                        }
                    }

                }

            }

            .bicycle_filter-more {
                margin-top: 16px;

                .bicycle_amount {
                    display: inline-block;
                    font-weight: 600;

                    span {
                        margin-right: 4px;
                    }
                }

                .bicycle_discout {
                    display: inline-block;
                    margin-left: 24px;

                    input {
                        margin-right: 4px;
                        position: relative;
                        top: 1px;
                    }
                }

                .sort-select {
                    float: right;
                    position: relative;
                    margin-bottom: 10px;

                    .click-sort {
                        border: 1px solid #e0e0e0;
                        border-radius: 4px;
                        cursor: pointer;
                        font-size: 12px;
                        line-height: 12px;
                        padding: 6px 10px 6px 8px;

                        .sort-show {
                            padding-right: 12px;
                            position: relative;
                        }

                        .sort-show::before {
                            border-left: 4px solid transparent;
                            border-right: 4px solid transparent;
                            border-top: 4px solid #333;
                            content: '';
                            height: 0;
                            position: absolute;
                            top: 6px;
                            right: 0;
                            width: 0;
                        }
                    }

                    .click-sort.active~.sort-select-main {
                        display: block;
                    }

                    .sort-select-main {
                        background-color: #fff;
                        border-radius: 4px;
                        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
                        display: none;
                        position: absolute;
                        padding: 0 7px;
                        top: 30px;
                        right: 0;
                        width: 160px;
                        z-index: 2;

                        p {
                            border-bottom: 1px solid #f1f1f1;
                            color: #000;
                            font-size: 14px;
                            line-height: 17px;
                            padding: 11px 3px;
                            display: block;
                            margin-bottom: 0;
                            cursor: pointer;
                        }

                        .active {
                            color: var(--primary-color);
                            font-weight: 600;
                        }
                    }
                }
            }
        }

        .bicycle>ul {
            text-align: center;
            margin-top: 30px;
            padding-left: 0;

            li {
                display: inline-block;
                margin: 0 8px;
            }

            li.previous,
            li.next {
                margin: 0 16px;
                background-color: var(--primary-color);
                min-width: 50px;
                border-radius: 5px;

                a {
                    padding: 4px 8px;
                    font-size: 18px;
                    color: var(--color-with-primary-bg);
                    text-decoration: none;
                    display: block;
                }
            }

            li.selected {
                border: 1px solid var(--primary-color);
            }

            li {
                background-color: #fff;
                border-radius: 4px;
                border: 1px solid transparent;
                cursor: pointer;

                a {
                    font-weight: 600;
                    padding: 3px 12px;
                    display: block;
                }
            }

            li:not(.selected):hover {
                border: 1px solid #ccc;
            }
        }
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    #Bicycle,
    #Accessories {
        .bicycle_bg {
            .bicycle {
                &>ul {
                    li {

                        &.previous,
                        &.next {
                            margin: 0 8px;
                            min-width: 30px;

                        }

                        margin: 0 4px;
                        min-width: 30px;

                        &.selected {
                            a {
                                padding: 3px 6px;
                            }
                        }
                    }
                }

                .bicycle_filter {
                    width: 335px;

                    .item {
                        .filter_box {
                            width: 200px;
                        }
                    }
                }

                .bicycle_filter-more {
                    position: relative;
                    margin-bottom: 60px;

                    .sort-select {
                        float: none;
                        position: absolute;
                        top: 40px;
                        right: unset;
                        left: 0;
                        width: 200px;
                    }
                }

            }

        }

    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 767px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {}

/* All small and medium devices */
@media only screen and (min-width: 600px) and (max-width: 991px) {

    #Bicycle,
    #Accessories {
        .bicycle_bg {
            .bicycle {
                .bicycle_filter {
                    width: 600px;

                    .item {
                        .filter_box {
                            width: 350px;
                        }
                    }
                }

                .bicycle_filter-more {
                    position: relative;

                    .sort-select {
                        float: none;
                        position: absolute;
                        top: 0;
                        right: 0;
                        width: 200px;
                    }
                }

            }

        }

    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}