:root {
    --primary-color: #009900;
    --color-with-primary-bg: #fff;
    --text-color: #333;
    --border-color: #ececec;
    --text-size: 15px;
    --title-size: 20px;
}

#Homepage,
#Bicycle,
#Accessories,
#DetailBicycle,
#Cart,
#Signup,
#Login,
#DetailOrder {
    font-size: var(--text-size);
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
    }
}